* {
  font-family: Nunito Sans;
}

.base.margin-l-r {
  margin-top: 50px;
  margin-bottom: 30px;
}
.base {
  margin-top: 50px;
  margin-bottom: 50px;
}
.spc-btw {
  display: flex;
  justify-content: space-between;
}
.button-back {
  border: none;
  color: black;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media only screen and (max-width: 500px) {
  .spc-btw {
    display: block;
  }
}
@media only screen and (max-width: 430px) {
  .spc-btw {
    display: block;
  }
}
@media only screen and (max-width: 380px) {
  .spc-btw {
    display: block;
  }
  .button-back {
    margin: 4px 10px;
    font-size: 12px;
  }
}
