*{
  font-family:  Nunito Sans;
}
body {
  margin: 0;
  background-color: #F0F0F0;
 
}


.base{
  margin-top :50px;
  margin-right :100px;
  margin-left:100px;
  margin-bottom :50px;
}
.spc-btw{
  display: flex;
  justify-content: space-between;
}
.button-back {
  background-color: white; /* Green */
  border: none;
  color: black;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px grey;
}
